
.add-coin {
    cursor: pointer;
    
} 

.add-coin > svg {
    pointer-events: none;
  }

.amount {
    width: 100%;
    height: 'auto';
    padding-top: 20px;
    line-height: 10%;
}

.coin-name {
    text-align: center;
    color: goldenrod;
}

.logo {
    width: 15%;
    height: 'auto';
}

.rank {
    text-align: center;
}

.table {
    width: auto;
}
